html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
::-moz-selection {
  background: #29120d;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #29120d;
  color: #fff;
  text-shadow: none;
}
a:link {
  -webkit-tap-highlight-color: #29120d;
}
textarea,
input,
select {
  outline: none;
}
textarea {
  resize: none;
  overflow: auto;
}
main {
  max-width: 2000px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background: linear-gradient(180deg, rgba(15,16,24,1) 0%, rgba(21,24,47,1) 100%);
}




/* === RESET === */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
div,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  outline: none;
}
p {
  line-height: 1.5em;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-weight: normal;
}
section:after,
div:after {
  content: "";
  height: 0;
  display: block;
  clear: both;
  overflow: hidden;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}





/* === HELPERS === */
.clear {
  clear: both;
  font-size: 0;
  height: 0;
  line-height: 0;
}
.left { float: left; }
.right { float: right; }
.center { margin: 0 auto; }
.block { display: block; }
.none { display: none; }
.relative { position: relative; }
.absolute { position: absolute; }
.fixed { position: fixed; }
.z-1 { z-index: 1; }
.z-2 { z-index: 2; }
.z-99 { z-index: 99; }
.z-999 { z-index: 999; }
.w-100 { width: 100%; }
.w-95 { width: 95%; }
.w-90 { width: 90%; }
.w-85 { width: 85%; }
.w-80 { width: 80%; }
.w-75 { width: 75%; }
.w-70 { width: 70%; }
.w-65 { width: 65%; }
.w-60 { width: 60%; }
.w-55 { width: 55%; }
.w-50 { width: 50%; }
.w-45 { width: 45%; }
.w-40 { width: 40%; }
.w-35 { width: 35%; }
.w-30 { width: 30%; }
.w-25 { width: 25%; }
.w-20 { width: 20%; }
.w-15 { width: 15%; }
.w-10 { width: 10%; }
.bg-img-full {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.center-v-h {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hide {
	display: none;
}